.titleSpan {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    padding: 5px 10px;
    background-color: rgb(255 208 22);
    color: #b65e09;

    border-radius: 30px;
}