.container {
    background-color: #7fdbffd6;
    border-radius: 50px;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 20px;
}



.homeLink {
    padding: 5px 10px;
    background-color: rgb(255 208 22);
    color: #b65e09;

    border-radius: 30px;

    text-decoration: none;
}

.homeLink:hover {
    color:rgb(255 208 22);
    background-color: rgb(255, 255, 255);
}

.navLink {
    text-decoration: none;
}

.loader {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

